/* Shared Styles */
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 25px;
  cursor: pointer;
}

/* header styles */
.header {
  background: rgba(255, 144, 14, 0.1);
  padding: 45px 250px;
}
/* nav styles */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-title {
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
}
nav > ul {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  justify-content: space-between;
  padding-left: 0;
  /* border: 0.2px solid; */
}
nav li {
  list-style: none;
}
nav a {
  color: #424242;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}

/* banner styles */

.banner-content {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.banner-description {
  color:#727272;
}
.banner img{
    width: 100%;
}

/* Responsive media queries */
@media screen and (max-width: 576px) {
  /* header responsive styles */
    .header{
        padding: 20px;
    }
    /* navbar responsive styles */
    .nav{
        flex-direction: column;
        align-items: center;
        
    }
    .nav-title{
        
    }
   .nav > ul{
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
   }
   li{
    margin: 20px;
   }
   /* banner responsive styles */
   .banner-container, .banner-content{
    flex-direction: column;
   }
   .banner-content{
    width: fit-content;
    
   }
   


}
