/* Shared Styles */
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 25px;
  cursor: pointer;
}

/* header styles */
.header {
  background: rgba(255, 144, 14, 0.1);
  padding: 45px 250px;
}
/* nav styles */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-title {
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
}
nav > ul {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  justify-content: space-between;
  padding-left: 0;
  /* border: 0.2px solid; */
}
nav li {
  list-style: none;
  margin-left: 20px;
}
nav a {
  color: #424242;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}

/* banner styles */

.banner-content {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.banner-description {
  color: #727272;
}
.banner img {
  width: 100%;
}
/* main section styles */
.main {
  max-width: 1440px;
  margin: 0 auto;
}
/* teams section style */
.teams-container {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  padding-top: 90px;
  padding-left: 40px;
}
.teams-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.teams-content {
  padding-right: 70px;
  padding-left: 70px;
}
.quick-list {
  color: #727272;
  font-size: 45px;
  font-weight: 500;
}
.of-our {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
}
.features {
  color: #ff900e;
  font-size: 45px;
  font-weight: 700;
}
.teams-description {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}

/* Responsive media queries */
/* small devices */
@media screen and (max-width: 576px) {
  /* header responsive styles */
  .header {
    padding: 20px;
  }
  /* navbar responsive styles */
  .nav {
    flex-direction: column;
    align-items: center;
  }
  .nav-title {
  }
  .nav > ul {
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    padding-right: 20px;
  }
  li {
    margin-left: 20px;
  }
  /* banner responsive styles */
  .banner-container,
  .banner-content {
    flex-direction: column;
  }
  .banner-content {
    width: fit-content;
  }
  
  /* main responsive styles */
  .teams-container{
    flex-direction: column-reverse;
    padding: 10px;
  }
  .teams-images{
    grid-template-columns: 1fr;
  }
  .teams-content{
    margin-bottom: 30px;
    padding-left: 30px ;
    text-align: center;
  }


}
/* Medium devices */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .header {
    padding: 20px;
  }
  .nav {
    flex-direction: column;
  }
  .nav > ul {
    width: 80%;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
  .teams-container{
    flex-direction: column-reverse;
  }
  .teams-content{
    text-align: center;
    padding: 0;
  }
}
